{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "Firefox ESR", "> 1%", "ie >= 9", "iOS >= 8", "Android >= 4"]
        }
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "helpers": false,
        "regenerator": true
      }
    ],
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["import", [{ "libraryName": "fish", "libraryDirectory": "lib", "style": true }]]
  ]
}
