{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "plugins": ["react"],
  "rules": {
    "semi": 0,
    "camelcase": 0,
    "prefer-const": 2,
    "space-before-function-paren": 0,
    "jsx-quotes": [2, "prefer-double"],
    "no-async-promise-executor": 0,
    "no-misleading-character-class": 0,
    "no-useless-catch": 0,
    "operator-linebreak": 0,
    "comma-dangle": 0,
    "object-curly-spacing": 0,
    "react/no-unused-prop-types": 0,
    "react/jsx-handler-names": 0,
    "lines-between-class-members": 0,
    "object-curly-newline": 0,
    "quotes": 0
  }
}
